.input
{
  /* width: 100%; */
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.select
{
    padding: 12px 20px 12px 40px;
    margin-right: 8px;
}
